@tailwind base;
@tailwind components;
@tailwind utilities;

.skillbar-title {
  
    background: #ffffff !important;
     color: black !important;
   
}
.skillbar-bar {
   
    background:linear-gradient(45deg, #6d6868, #0f0f0f, #ffffff, #131010) !important;
    animation: gradientAnimation 10s ease infinite !important;
    background-size: 400% 400% !important;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50% !important;
    }
    50% {
        background-position: 100% 50% !important;
    }
    100% {
        background-position: 0% 50% !important;
    }
}
.skillbar {
    
   
    transition: 0.1s linear !important;
   
}
*, ::before, ::after {
   
    --tw-scale-x: 0.5 !important;
    --tw-scale-y: 0.5 !important;
  
   
    
  
    
}
